ultralytics
#opencv-python-headless #for server environment without GUI
opencv-python #if  need local display for debugging.
numpy
matplotlib
aiohttp
requests
torch
onnxruntime

# Add specific versions if needed, e.g.:python=3.12